.fadeIn-appear {
  opacity: 0.01;

  &.fadeIn-appear-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }
}

.fadeIn-enter {
  opacity: 0.01;

  &.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }
}


.fadeIn-leave {
  opacity: 1;

  &.fadeIn-leave-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
}